APP_URL=https://semanaenfermagem.info85.com.br

MERCADOPAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
# Opcional: URL para notificações webhook
MERCADOPAGO_NOTIFICATION_URL=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=u641927335_semana_enf
DB_USER=u641927335_enfermagem
DB_PASS=

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=GERAR_COM_password_hash
