APP_URL=http://localhost:8000
MERCADOPAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MERCADOPAGO_USER_ID=SEU_USER_ID_AQUI
MERCADOPAGO_REFRESH_TOKEN=SEU_REFRESH_TOKEN_AQUI
# Opcional: URL para notificações webhook
MERCADOPAGO_NOTIFICATION_URL=
